<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Thermostat</title>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700,inherit,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../public/css/standardize.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
    <script src="../public/javascript/Weather.js"></script>
    <script src="../public/javascript/Thermostat.js"></script>
    <script src="../public/javascript/application.js"></script>
  </head>

  <body class="body page-index clearfix">

    <section>
      <p>Current Temperature: <span id="current-temp"></span></p>
      <p>Power Saving Mode: <span id="psm"></span></p>
      <button id="up-temp">+</button>
      <button id="down-temp">-</button>
      <button id="reset-temp">Reset</button>
      <button id="power-switch">Power Switch</button>
      <span id="test"></span>
    </section>

    <div class="container clearfix">
      <p class="location"></p>
      <p class="temperature"></p>
      <div class="climate_bg"></div>
      <div class="info_bg">
        <img class="dropicon" src="../public/images/Droplet.svg">
        <p class="humidity"></p>
        <img class="windicon" src="../public/images/Wind.svg">
        <div class="windspeed"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
    		<div class="input-group">
    			<input type="text" class="form-control" id="my-address" placeholder="Enter location...">
    				<span class="input-group-btn">
    					<button class="btn btn-default" id="getCords" onClick="codeAddress();">Go!</button>
    				</span>
    		</div>
    	</div>
    </div>
  </body>
</html>
