main {
  background-color: #bebebe;
  background-image: url(../images/brushed_alu_dark.png);
  font: 400 1em/1.38 'Lato', sans-serif;
  color: #ffffff;
  flex: 1;
}

header, footer {
  padding: 20px;
  background-color: rgba(255,0,255, 0.01);
  box-shadow: -1px 0 5px rgba(0,0,0, 0.3);
  text-align: center;
  height: 20px;
}

section {
  height: 10px;
}

.wrapper {
  height:100vh;
  display:flex;
  flex-direction: column;
}

.info_bg p {
  margin-bottom: -.2em;
}

.climate_bg {
  position: relative;
  top: -152px;
  left: 235px;
  z-index: 6;
  width: 163px;
  height: 149px;
  border-top-right-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.weathericon {
  display: block;
  position: relative;
  top: -5px;
  left: 1.226993865%;
  z-index: 5;
  width: 160px;
  height: auto;
  overflow: hidden;
}

.container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 398px;
  height: 208px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.dropicon {
  display: block;
  position: relative;
  top: 9px;
  left: -3.9110429448%;
  z-index: 3;
  width: 41px;
  height: auto;
  overflow: hidden;
}

.not-available, .failed {
  position: absolute;
  top: 464px;
  left: 0;
  right: 0;
  z-index: 10;
  width: 248px;
  min-height: 24px;
  margin: 0 auto;
  font: 0.625em/1.38 'Trebuchet MS';
  color: rgb(0, 0, 0);
}

.humidity {
  position: relative;
  top: -23px;
  left: 29px;
  z-index: 2;
  width: 46px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}

.info_bg {
  position: relative;
  top: -152px;
  left: 235px;
  z-index: 4;
  width: 163px;
  height: 59px;
  border-bottom-right-radius: 10px;
  background-color: #1ab1ed;
}

.location {
  position: relative;
  top: 128px;
  left: 78px;
  z-index: 8;
  width: 108px;
  min-height: 59px;
  font-size: 1.313em;
  font-weight: 400;
  line-height: 1.38;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.temperature {
  position: relative;
  top: -25px;
  left: 72px;
  z-index: 7;
  width: 109px;
  min-height: 28px;
  font-size: 4.25em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.windicon {
  display: block;
  position: relative;
  top: -62px;
  left: 42.117331%;
  z-index: 1;
  width: 50px;
  height: auto;
  overflow: hidden;
}

.windspeed {
  position: relative;
  top: -108px;
  left: 109px;
  width: 50px;
  min-height: 29px;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #ffffff;
}

.windspeed p {
  margin-bottom: -.2em;
}

.input-group {
  color: white;
}

.row {
  position: absolute;
  top: 230px;
  left: 109px;
}

#weather-section {
  position: relative;
  float: right;
  margin-right: 203px;
  margin-top: 200px;
}

#current-temp {
  font-size: 350px;
  margin: 0 auto;
  float: left;
  position: relative;
  top: 3px;
  left: 79px;
}

#power-saving-mode {
  font-size: 56px;
  margin: 0 auto;
  float: left;
  position: absolute;
  bottom: 224px;
  left: 173px;
}

#add-button {
  position: relative;
  top: 125px;
  left: 161px;
}

#remove-button {
  position: relative;
  top: 151px;
  left: 161px;
}

#refresh-button {
  position: relative;
  top: 180px;
  left: 161px;
}

#power-button {
  position: relative;
  top: 207px;
  left: 161px;
}


.btn-floating {
  width: 107px !important;
  height: 100px !important;
}

.material-icons {
  text-align: center;
  margin-top: 23px;
}




/*#diagonal-line {
  position: relative;
  width: 500px;
  height: 47px;
  border-bottom: 1px solid white;
  -webkit-transform:
          translateY(10px)
          translateX(5px)
          rotate(-45deg);
  margin-left: 400px;
  margin-top: 100px;

  top: -33px;
  left: -13px;*
}*/
